body{
  font-family: 'Raleway', sans-serif; /* Test for this*/
  margin: 0;
  padding: 0;
  font-size: 16pt; /* test for this! Make all sizes em or rem */
  background-image: url('../images/concrete_seamless.png');
}

h1{
  font-size: 2em;
  text-align: center;
  line-height: 2;
}

h2{
  font-size: 1.5em;
  text-align: center;
  padding: 5px;
}

p {
  padding: 0 30px;
}

a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

*:focus{
  border: 2px solid black;
}

footer{
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
}

/*Begin your code here*/
/*Keyframes for animation*/

@-webkit-keyframes logo_wiggle{
  /*Your code here.*/
  from {
    width: 25px};
  to {
    width: 420px};
}

@keyframes logo_wiggle{
  /*Your code here.*/
  from {
    width: 25px};
  to {
    width: 420px}; 
} 

#logo{
   /*Your code here.*/
   animation-duration: 3s;
   -webkitanimation: logo_wiggle;
   animation-name: logo_wiggle;

}

/* Cards! */
.pricing{
  min-height: 500px;
    /*Your code here.*/
    /*Don't forget to vertically and horizontally alight the card*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.card {
  margin: 12px;
  background: #fff;
  border-radius: 7px;
  padding: 0 0 50px 0;
  /*Your code here.*/
  /*Take a look at flex-basis*/
  flex-basis: 400px; 
}

.card > header{
  background: #288080;
  border: 2px solid #45ADAD;
  padding: 20px 0;
  border-radius: 7px 7px 0 0;
}

.card > ul{
  list-style: none;
  padding: 0;
}

.card > ul li {
  width: 90%;
  margin: 20px auto;
}

.card button{
  width: 90%;
  height: 40px;
  border: 0;
  margin-left: 12px;
  border-radius: 7px;
  background: #288080;
  color: white;
  font-size: 1em;
}

.card h3{
  font-size: 4em;
  color: white;
  text-align: center;
}

.card_big{
  -webkit-transform: initial;
          transform: initial;
}

/* Gallery! */
.gallery{
  min-height: 600px;
  /*Your code here again.*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
}

.gallery > img{
  border: 10px #50C7C7 solid;
  margin: 10px;
  width: 300px;
}

/* Navbar */
header{
  background: #fff;
  border-bottom: 3px solid #50C7C7;
  /*Your  code here again.*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_links{
  /*Your code here again.*/
  display: flex;
  flex-direction: column;
}

.nav_item a{
  color: black;
  text-decoration: none;
}

.nav_item a:hover, a:focus{
  color: #50C7C7;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

@media screen and (min-width: 850px){

  /* Cards! */
  .card {
    /*Your  code here again.*/
    flex-basis: 225px;
  }

  .card_big{
    -webkit-transform: scaleX(1.12);
            transform: scaleX(1.12);
  }

  /* Navbar */
  header{
    /*Your code here again.*/  
    flex-direction: row;
    justify-content: space-between;
  }

  .nav_links{
    /*Your code here again.*/  
    flex-direction: row;
  }

  .nav_item a{
    padding: 10px;
  }
}

@media print { 
  .card {
    flex-basis: 200px;
  }
  /*Your code here again.*/
  /*You will want four selectors*/  
  body {
    background-image: none;
  }
  .pricing{
    align-items: flex-start;
  }
  .gallery{
    display: none;
  }
  h2 {
    display: none;
  }
}

/*Your code here again.*/ 
/*Add media query to handle reduced-motion*/
@media (prefers-reduced-motion) {
  #logo {
    animation-name: none;
  }
}
